html, body {
  background-color: #AE876B;
  width: 100%;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
}

header a {
  margin: 5px;
  padding: 10px;
  font-size: 60px;
  font-weight: 500;
  text-decoration: none;
  color: #864313;
}

header img {
  margin: 10px;
  transform: scale(0.8);
}

header h1 {
  padding: 10px;
  color: orange;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15em 20em 5em;
  grid-template-areas: 
        ". player1 .       computer  ."
        ". player1 versus  computer  ."
        ". .       refresh .         .";
}

main img {
  padding: 15px;
}

#player1 {
  grid-area: player1;
  text-align: center;
}

#versus {
  grid-area: versus;
  color: darkred;
  font-size: 80px;
  font-weight: 1000 ;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

#computer {
  grid-area: computer;
  text-align: center;
}

#refresh-button {
  grid-area: refresh;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}